# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# test module 个人习惯，测试目录去掉
/test/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/

*.egg

*.manifest
*.spec
.idea/




# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

*.cmd
*.c
*.pyd
config/
count/
data/
gamepaper/
log/